// Home

// Background --------------------------------
body {
  background-image: url(/assets/images/tri-pat.svg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

// Positioning -------------------------------
header {
  position: absolute;
  top: 2em;
  left: 0;
  right: 0;
}

#home-body {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  @include transform(translateY(-50%));
}

footer {
  position: absolute;
  bottom: 2em;
  left: 0;
  right: 0;
}

// Text -------------------------------------
h1 {
  font-size: 16px;
  font-weight: 500;
  letter-spacing: 4px;
  color: $grey;
  text-transform: uppercase;
}

h2 {
  font-size: 36px;
  font-weight: 500;
  letter-spacing: .05em;
}

p {
  font-weight: 100;
  letter-spacing: .03em;
  margin-bottom: 0;
  @include media-query($bp-tablet) {
    max-width: 50ch;
    margin-bottom: 1em;
  }
}

#intro-text {
  margin-bottom: 2em;
}

.copyright {
  font-weight: 100;
  color: $grey;
  font-size: 14px;
  letter-spacing: 2px;
}

// Icons -------------------------------------
.si-link {
  display: inline-block;
  @include media-query($bp-mobile) {
    margin: 0 1em 1em 0;
  }
  svg {
    width: 75px;
    height: 75px;
  }
  .si-title {
    display: none;
  }
}

$social:  (email, $melon),
          (linkedin, $linkedin),
          (github, $github),
          (dribbble, $dribbble),
          (codepen, $codepen);

@each $social, $color in $social {
  .si-link.#{$social} svg {
    fill: $black;
    @include transition(all);
    &:focus,
    &:hover {
      fill: $color;
      -webkit-filter: drop-shadow( 0 0 15px rgba(0,0,0,.15) );
      filter: drop-shadow( 0 0 15px rgba(0,0,0,.15) );
    }
  }
}
